﻿@include export-module('datepicker-theme') {
  #{&}.e-datepicker {
    &.e-popup-wrapper {
      border: $datepicker-popup-border;
      box-shadow: $datepicker-popup-box-shadow;
   }

    & .e-calendar {
      background-color: $datepicker-popup-bg-color;
      border: $datepicker-calendar-border-style;
   }

  }

  &.e-input-group {
    &.e-date-wrapper.e-dateinput-active:active:not(.e-success):not(.e-warning):not(.e-error) {
      border: $datepicker-input-border-style;
	  }
      }

  .e-date-wrapper {
    & span.e-input-group-icon {
      &.e-date-icon.e-icons.e-active {
        color: $datepicker-icon-color;
      }&.e-date-icon.e-icons.e-active {
        @if $skin-name == 'bootstrap4' {
          background: $datepicker-icon-active-bg-color;
          border-color: $datepicker-active-border-color;
        }
        color: $datepicker-active-icon-color;
      }
    }
  }
}
