﻿@include export-module('timepicker-layout') {
  //   timepicker layout
  .e-input-group.e-control-wrapper.e-time-wrapper.e-non-edit.e-input-focus .e-input:focus ~ .e-clear-icon,
  .e-float-input.e-control-wrapper.e-input-group.e-time-wrapper.e-non-edit.e-input-focus input:focus ~ .e-clear-icon {
    display: flex;
  }

  .e-time-wrapper,
  &.e-control-wrapper.e-time-wrapper {
    // sass-lint:disable no-vendor-prefixes
    -webkit-tap-highlight-color: transparent;

    & .e-time-icon.e-icons {
      font-size: $timepicker-icon-normal-font-size;
      @if $skin-name == 'material' or $skin-name == 'material-dark' {
        min-height: $timepicker-normal-input-min-height;
        min-width: $timepicker-normal-input-min-width;
      }

    }

    & .e-time-icon.e-icons.e-disabled {
      pointer-events: none;
    }

    & span {
      cursor: pointer;
    }
  }

  #{&}.e-timepicker.e-time-modal {
    background-color: $timepicker-default-overlay;
    height: 100%;
    left: 0;
    opacity: .5;
    pointer-events: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
	}

  #{&}.e-timepicker.e-popup {
    border-style: solid;
    border-width: 1px;
    overflow: auto;

    & .e-content {
      position: relative;
    }

    & .e-list-parent.e-ul {
      margin: 0;
      padding: $timepicker-list-normal-padding 0;

      & .e-list-item {
        cursor: default;
        font-size: $timepicker-list-normal-font-size;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        vertical-align: middle;
        white-space: nowrap;
        width: 100%;
      }

      & .e-list-item.e-hover {
        cursor: pointer;
      }
    }
  }

  //normal styles

  #{&}.e-timepicker.e-popup {
    & .e-list-parent.e-ul .e-list-item {
      line-height: $timepicker-list-normal-line-height;
      text-indent: $timepicker-list-normal-text-indent;
    }
  }

  //bigger styles
  .e-bigger .e-time-wrapper,
  &.e-bigger.e-time-wrapper,
  &.e-bigger .e-control-wrapper .e-time-wrapper,
  &.e-control-wrapper.e-bigger.e-time-wrapper {

    & .e-time-icon.e-icons {
      font-size: $timepicker-icon-bigger-font-size;
      @if $skin-name == 'material' or $skin-name == 'material-dark' {
        min-height: $timepicker-bigger-input-min-height;
        min-width: $timepicker-bigger-input-min-width;
      }
    }
  }

  .e-bigger #{&}.e-timepicker.e-popup,
  &.e-bigger#{&}.e-timepicker.e-popup {

    & .e-list-parent.e-ul {
      padding: $timepicker-list-bigger-padding 0;

      & .e-list-item {
        font-size: $timepicker-list-bigger-font-size;
        line-height: $timepicker-list-bigger-line-height;
        text-indent: $timepicker-list-bigger-text-indent;
      }
    }
  }
}
