﻿@include export-module('timepicker-theme') {
  /*! timepicker theme */
  .e-time-wrapper {
    & .e-input-group-icon.e-icons.e-active {
      @if $skin-name == 'bootstrap4' {
        background: $timepicker-icon-active-bg-color;
        border-color: $timepicker-active-border-color;
      }
      color: $timepicker-list-active-icon-color;
    }

    &.e-input-group:not(.e-disabled) .e-input-group-icon.e-active:active {
      color: $timepicker-list-popup-icon-active-color;
    }
  }

  #{&}.e-timepicker.e-popup {
    border: $timepicker-list-border-color;
    border-radius: $timepicker-popup-border-radius;
    box-shadow: $timepicker-popup-shadow;

    & .e-list-parent.e-ul {
      background-color: $timepicker-list-bg-color;

      & li.e-list-item {
        border: $timepicker-list-default-border-style;
        color: $timepicker-list-default-font-color;
      }

      & .e-list-item.e-disabled {
        color: $timepicker-disable-text;
        opacity: $timepicker-disable-opacity;
        pointer-events: none;
        touch-action: none;
      }

      & .e-list-item.e-hover,
      & .e-list-item.e-navigation,
      & .e-list-item:focus {
        background-color: $timepicker-list-hover-bg-color;
        border: $timepicker-list-hover-border-color;
        color: $timepicker-list-hover-font-color;
      }

      & .e-list-item.e-active {
        background-color: $timepicker-list-active-bg-color;
        color: $timepicker-list-active-font-color;
      }

      & .e-list-item.e-active.e-hover {
        background-color: $timepicker-list-active-hover-bg-color;
        color: $timepicker-list-active-hover-font-color;
      }
    }
  }
}
