﻿@include export-module('calendar-layout') { /*! calendar layout */

  #{&}ejs-calendar {
    display: block;
  }

  #{&}.e-calendar {
    // sass-lint:disable no-vendor-prefixes
    -webkit-tap-highlight-color: transparent;
    border-radius: $calendar-wrapper-border-radius;
    display: $calendar-block-style;
    overflow: auto;
    user-select: $calendar-none-style;

    &.e-rtl .e-header .e-title {
      float: $calendar-float-right-style;
      text-align: $calendar-float-right-style;
    }&.e-rtl .e-header .e-icon-container {
      float: $calendar-float-left-style;
    }& .e-header {
      background: $calendar-none-style;
      display: table;
      font-weight: $calendar-spanicon-font-weight-style;
      position: relative;
      text-align: center;
      width: $calendar-full-width;

      & button {
        background: transparent;
        border: 0;
        padding: 0;
        text-decoration: $calendar-none-style;
        }& span {
        cursor: $calendar-cursor-pointer-style;
        display: inline-block;
        font-size: $calendar-icon-font-size-style;
        font-weight: $calendar-spanicon-font-weight-style;
        line-height: $calendar-icon-line-height;
        padding: $calendar-icon-padding;
        vertical-align: middle;

        &.e-disabled {
          cursor: $calendar-cursor-default-style;
    }
}
}& .e-week-header {
      padding: $calendar-thead-padding;
}& th {
      cursor: $calendar-cursor-default-style;
      font-size: $calendar-header-font-size;
      font-weight: normal;
      text-align: center;
}& .e-content {
      & .e-selected ,
      & .e-state-hover {
        border-radius: 0;
      }& span.e-day {
        border-radius: 0;
        cursor: $calendar-cursor-pointer-style;
        display: $calendar-inline-block-style;
        font-size: $calendar-date-font-size;
        overflow: hidden;
        padding: 0;
        text-align: center;
        text-decoration: $calendar-none-style;
        vertical-align: middle;
}& th,
      & td {
        box-sizing: border-box;
}& td.e-disabled {
        opacity: $calendar-disable-opacity;
        pointer-events: $calendar-none-style;
        touch-action: $calendar-none-style;
}& td {
        cursor: pointer;
        padding: $calendar-yeardeacde-span-padding;
        text-align: center;&.e-week-number {
          color: $calendar-week-number-font-color;
          font-family: $calendar-week-number-font-style;
          font-size: $calendar-week-number-font-size-style;
          font-weight: 500;
}&.e-overlay {
          background: $calendar-none-style;
          width: initial;
}
}

      table {
        border-collapse: separate;
        border-spacing: 0;
        border-width: 0;
        float: $calendar-float-left-style;
        margin: 0;
        outline: 0;
        padding: $calendar-table-padding;
        table-layout: fixed;
        width: $calendar-full-width;
}& td.e-other-month > span.e-day,
      & td.e-other-year > span.e-day {
        display: $calendar-other-month-display-style;
        font-weight: $calendar-link-font-weight-style;
}& tr.e-month-hide {
        display: $calendar-other-month-row-display-style;
        font-weight: $calendar-link-font-weight-style;
}& tr.e-month-hide,
      & td.e-other-month,
      & td.e-other-year {
        pointer-events: $calendar-pointer-events;
        touch-action: $calendar-pointer-events;
}& tr.e-month-hide,
      & td.e-other-month.e-disabled,
      & td.e-other-year.e-disabled {
        pointer-events: $calendar-none-style;
        touch-action: $calendar-none-style;
}& td.e-week-number:hover span.e-day,
      & td.e-week-number:hover {
        background-color: $calendar-bg-color;
        cursor: $calendar-cursor-default-style;
}
}& .e-header {
      & .e-prev,
      & .e-next {
        border-radius: $calendar-border-radius;
        display: inline-block;
        font-size: $calendar-next-prev-icon-size;
        vertical-align: middle;
  }& .e-title {
        cursor: $calendar-cursor-pointer-style;
        display: $calendar-inline-block-style;
        float: $calendar-float-left-style;
        font-size: $calendar-title-font-size;
        font-weight: $calendar-title-font-weight-style;
        text-align: $calendar-float-left-style;
}& .e-title {
        margin-left: $calendar-title-margin-left-style;
}& .e-prev:hover,
      & .e-next:hover {
        cursor: $calendar-cursor-pointer-style;
}& .e-prev.e-overlay,
      & .e-next.e-overlay {
        background: $calendar-none-style;
}
}& .e-header.e-decade .e-title,
    & .e-header.e-year .e-title {
      margin-left: $calendar-decade-title-left-margin-style;
}& .e-header.e-decade .e-title {
      cursor: $calendar-cursor-default-style;
}& .e-header .e-icon-container {
      display: $calendar-inline-block-style;
      float: $calendar-float-right-style;
}& .e-footer-container {
      text-transform: uppercase;
}
    }

  //normal style
  #{&}.e-calendar {
    max-width: $calendar-normal-max-width;
    min-width:  $calendar-normal-min-width;
    padding: $calendar-popup-padding;

    &.e-week-number {
      min-width: $calendar-weeknumber-min-width;
    }

    &.e-week {
      max-width: $calendar-week-normal-max-width;
      min-width:  $calendar-week-normal-min-width;
    }& .e-header .e-title {
      line-height: $calendar-normal-header-height;
}&.e-rtl .e-header .e-title {
      text-align: $calendar-float-right-style;
      text-indent: 4px;
}& .e-header {
      height: $calendar-normal-header-height;

      &.e-month {
        padding: $calendar-normal-header-padding;
	  }

      &.e-year,

      &.e-decade {
        padding: $calendar-yeardecade-header-padding;
	  }
}& th {
      font-weight: $calendar-normal-day-header-font-weight;
      height: $calendar-normal-day-header-height;
}& .e-content {
      & .e-selected ,
      & .e-state-hover {
        border-radius: 0;
      }& span.e-day {
        border: $calendar-default-border-color;
        font-size: $calendar-date-font-size;
        font-weight: $calendar-link-font-weight-style;
        height: $calendar-normal-month-view-height;
        line-height: $calendar-normal-month-view-height;
        width: $calendar-normal-month-view-width;
      }
}& .e-content.e-year table,
    & .e-content.e-decade table {
      border-spacing: 0;
      padding: $calendar-yeardecade-padding;
}& .e-content.e-month td {
      height: $calendar-normal-month-view-height;
      padding: $calendar-normal-month-cell-padding;
}& .e-content .tfooter > tr > td {
      height: $calendar-normal-today-button-height;
      line-height: $calendar-normal-today-button-height;
}& .e-content.e-year td,
    & .e-content.e-decade td {
      height: $calendar-normal-year-decade-height;
      padding: $calendar-normal-year-decade-padding;
}& .e-content.e-year td > span.e-day,
    & .e-content.e-decade td > span.e-day {
      font-weight: $calendar-yeardecade-font-weight;
      height: $calendar-normal-year-decade-height;
      line-height: $calendar-normal-year-decade-height;
      width: $calendar-normal-year-decade-width;
}& .e-header .e-icon-container {
      & .e-prev,
      & .e-next {
        height: $calendar-normal-icon-size;
        width: $calendar-normal-icon-size;
    }
}& .e-footer-container {
      border-top: $calendar-footer-border;
      cursor: $calendar-cursor-default-style;
      display: $calendar-display-style;
      flex-direction: row;
      justify-content: flex-end;
      padding: $calendar-footer-container-padding;
      text-align: center;
      width: $calendar-full-width;
}
}

  //bigger style
  .e-bigger#{&}.e-calendar,
  &.e-bigger #{&}.e-calendar {
    max-width: $calendar-bigger-max-width;
    min-width: $calendar-bigger-min-width;
    padding: $calendar-popup-bigger-padding;

    &.e-week {
      max-width: $calendar-week-bigger-max-width;
      min-width: $calendar-week-bigger-min-width;
    }&.e-week-number {
      min-width: $calendar-weeknumber-bigger-width;
    }& .e-header .e-title {
      font-size: $calendar-bigger-header-font-size;
      line-height: $calendar-bigger-header-height;
      width: 60%;
  }&.e-rtl .e-header .e-title {
      line-height: $calendar-bigger-header-height;
      text-indent: 6px;
  }& .e-header {
      height: $calendar-bigger-header-height;
      padding: $calendar-bigger-header-padding;

      & span {
        font-size: $calendar-bigger-icon-font-size;
        padding: $calendar-bigger-icon-padding;
	   }

      &.e-year,
      &.e-decade {
        padding: $calendar-bigger-yeardecade-header-padding;
	  }

  }& th {
      font-size: $calendar-bigger-week-header-font-size;
      height: $calendar-bigger-day-header-height;
  }& .e-content {
      &.e-year span.e-day {
        font-size: $calendar-bigger-yeardecade-font-size;
        font-weight: $calendar-bigger-yeardecade-font-weight;
              }

      &.e-month table {
        padding: $calendar-bigger-table-month-padding;
		  }

      &.e-year table,
      &.e-decade table	   {
        padding: $calendar-bigger-table-yeardecade-padding;
		  }

      & .e-selected ,
      & .e-state-hover {
        border-radius: 0;
      }& span.e-day {
        font-size: $calendar-bigger-month-font-size;
        height: $calendar-bigger-month-view-height;
        line-height: $calendar-bigger-month-view-height;
        width: $calendar-bigger-month-view-width;
  }
  }& .e-content.e-month td {
      height: $calendar-bigger-month-view-padding;
      padding: $calendar-bigger-month-view-padding;
  }& .e-content.e-year td,
    & .e-content.e-decade td {
      height: $calendar-bigger-year-decade-height;
      padding: $calendar-bigger-year-decade-padding;
  }& .e-content.e-year td > span.e-day,
    & .e-content.e-decade td > span.e-day {
      height: $calendar-bigger-year-decade-height;
      line-height: $calendar-bigger-year-decade-height;
      width: $calendar-bigger-year-decade-width;
  }& .e-header .e-icon-container {
      & .e-prev,
      & .e-next  {
        height: $calendar-bigger-icon-size;
        width: $calendar-bigger-icon-size;
    }
    }& .e-footer-container {
      border-top: $calendar-bigger-footer-border;
      padding: $calendar-bigger-footer-container-padding;
    }
  }

  #{&}.e-calendar {
    & .e-btn.e-today.e-flat.e-disabled,
    & .e-btn.e-today.e-flat.e-disabled:hover,
    & .e-btn.e-today.e-flat.e-disabled:active,
    & .e-btn.e-today.e-flat.e-disabled:focus,
    & .e-btn.e-today.e-flat.e-disabled:hover:active {
      background: $calendar-today-disabled-background-style;
      border-color: $calendar-today-disabled-border-style;
      box-shadow: $calendar-today-disabled-box-shadow;
      color: $calendar-today-disabled-color;
      cursor: $calendar-cursor-default-style;
      opacity: $calendar-disable-opacity;
      outline: $calendar-none-style;
      pointer-events: $calendar-none-style;
      touch-action: $calendar-none-style;
    }
  }
}
